@media screen and (min-width: 768px) {
    /* Import Google fonts from Google site for use in my website */
    /* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Barlow:wght@200;400&family=Comfortaa&family=Open+Sans&display=swap'); */
    @font-face {
        font-family: 'confortaa';
        font-weight: 600;
        src: url(/styles/fonts/comforter-regular-webfont.woff2) format('woff2'),
        url(/styles/fonts/comforter-regular-webfont.woff) format('woff')
      }
      @font-face {
        font-family: 'montserrat';
        font-weight: 600;
        src: url(/styles/fonts/montserrat-variablefont_wght-webfont.woff2) format('woff2'),
        url(/styles/fonts/montserrat-variablefont_wght-webfont.woff) format('woff')
      }
      @font-face {
        font-family: 'salsa';
        font-weight: 800;
        src: url(/styles/fonts/salsa-regular-webfont.woff) format('woff')
      }

    /* come back here and rearrange these colors to chosen ones */
    :root {
        /* Color Palette */
        --primary-color: #ffffff;
        --secondary-color: #c2c2c3;
        --accent1-color: #79797c;
        --accent2-color: #27272b;

    
        /* Chosen fonts */
        --heading-font: "Bad Script", Arial, sans-serif;
        --paragraph-font: Comfortaa, Helvetica, sans-serif;
        --other-font: Barlow, Arial, sans-serif;
    
        /* Chosen from palette colors */
        --headline-color-on-white: #c2c2c3;  /* headlines on a white background */ 
        --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
        --paragraph-color-on-white: #27272b; /* paragraph text on a white background */ 
        --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
        --paragraph-background-color: #79797c;
        --nav-link-color: #c2c2c3;
        --nav-background-color: #27272b;
        --nav-hover-link-color: #27272b;
        --nav-hover-background-color: #c2c2c3;
    }
    body {
        margin: 0;
        font-family: var(--paragraph-font) ,Arial, sans-serif;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
            "header header"
            "menu content"
            "footer footer";
        min-height: 100vh;
    }
    /* Header Rules */
    header {
        grid-area: header;
        color: var(--accent2-color);
        display: flex;
        flex-direction: row;
        font-size:  4rem;
    }
    header img {
        height: 100px;
        flex: 1;
    }
    .logo {
        font-size: medium;
    }
    header > h1 {
        height: 100px;
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background: linear-gradient(to right, white, rgb(51, 51, 51));
        text-align: center;
    }
    /* Navigation Section Rules */
    nav {
        grid-area: menu;
        background-color: #dcdcdc;
        padding: 20px;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav li {
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
    }
    li > a {
        color: #2d150a;
        text-decoration: none;
        font-size: large;
    }
    li > a::first-letter {
        color: rgb(133, 130, 175);
        font-size: xx-large;
    }
    /* Main Section Rules */
   
    main {
        grid-area: content;
        background-color: #a8aaabd4;

        background-image: url('/lesson03/images/id-city.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: contain;

        position: relative;
    }
    .mission p {
        font-size: small;
        color: var(--headline-color-on-color);
        background-color: var(--accent1-color);
        height: 50px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    main h2 {
        color: aliceblue;
        font-size: 3rem;
        background-color: #6969696b;
        position: absolute;
        top: 0px;
        left: 20px;
    }
    main p {
        color: rgb(5, 6, 6);
        font-size: 3rem;
        background-color: #69696955;
        position: absolute;
        right: 100px;
        bottom: 10px;
    }
    /* Footer rules */
    footer {
        grid-area: footer;
        background-color: #696969;
        color: white;

        display: flex;
        flex-direction: row; 
        /* display: inline; */
        justify-content: center;
        align-items: center;
    }
    #lastModified {
        color: var(--headline-color-on-color);
        font-weight: bolder;
        display: block;
        /* border: #f6f1f1 solid 2px; */
        text-align: center;
        margin-top: 45px;

        height: 50px;
        width: 500px;
    }
    .copyright-logo, .page-author, .flag {
        color: white;
        display: block;
        text-align: center;
        width: 400px;
    }
    .paragraph1 {
        color: var(--headline-color-on-color);
        font-weight: bolder;
        display: block;
        width: 400px;
    }
    .page-author::after {
        content: url("/lesson03/images/flower.jpeg");
        display: inline;
        margin-left: 20px;
    }
    .page-author::before {
        content: url("/lesson03/images/flower.jpeg");
        display: inline;
        margin-right: 20px;
    }
    .flag::after {
        content: url("/lesson03/images/naija.png");
        display: inline;
        margin-left: 20px;
    }
}