@media only screen and (min-width: 1025px) {
    @font-face {
        font-family: sensation-light;
        src: url(../styles/fonts/sensation-lite/Sansation-Lite/Sansation-lite.woff2),
        url(../styles/fonts/sensation-lite/Sansation-Lite/Sansation-lite.woff);
    }
    @font-face {
        font-family: besans;
        src: url(../styles/fonts/besans/Besans/Besans.woff2),
        url(../styles/fonts/besans/Besans/Besans.woff);
    }
    @font-face {
        font-family: sansi;
        src: url(../styles/fonts/sansi/SANSI/SANSI.woff2),
        url(../styles/fonts/sansi/SANSI/SANSI.woff);
    }
    @font-face {
        font-family: comfortaa;
        src: url(../styles/fonts/comfortaa/Comfortaa/Comfortaa.woff2),
        url(../styles/fonts/comfortaa/Comfortaa/Comfortaa.woff);
    }
    :root {
        /* Color Palette */
        --primary-color: #ffffff;
        --secondary-color: #c2c2c3;
        --accent1-color: #79797c;
        --accent2-color: #27272b;

    
        /* Chosen fonts */
        --heading-font: "Bad Script", Arial, sans-serif;
        --paragraph-font: Comfortaa, Helvetica, sans-serif;
        --other-font: Barlow, Arial, sans-serif;
    
        /* Chosen from palette colors */
        --headline-color-on-white: #c2c2c3;  /* headlines on a white background */ 
        --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
        --paragraph-color-on-white: #27272b; /* paragraph text on a white background */ 
        --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
        --paragraph-background-color: #79797c;
        --nav-link-color: #c2c2c3;
        --nav-background-color: #27272b;
        --nav-hover-link-color: #27272b;
        --nav-hover-background-color: #c2c2c3;
    }
    * { 
        font-size: 16px;
    }
    body {
       font-family: sans-serif;
       box-sizing: border-box;
       margin: 0;
       padding: 0;
    }
    #white-background {
        background-color: #b5acac;

        display: grid;
        grid-template-columns: 7% auto 7%;
        grid-template-rows: auto;
        grid-template-areas:
            "left body right";
    }
    /* Body CSS rules */
    #black-body {
        grid-area: body;
        background-color: #fff;
        margin: 5px 15% 5px 15%;
        border-radius: 12px;
        padding: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto ;
        min-height: 100%;
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "footer footer";
        gap: 5px;
    }

    #pseudo-main {
        grid-area: main;
        font-size: large;
        padding: .6rem;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "top-main"
            "mid-main"
            "base-main";
    }
    .top-sections {
        grid-area: top-main;
        border: 2px solid #6d1d17;
       
    }
    .middle-sections {
        grid-area: mid-main;
        border: 2px solid #5d0f09;
    }
    .bottom-sections {
        grid-area: base-main;
        border: 2px solid #5d0f09;
    }
    .top-sections, .bottom-sections, .middle-sections {
        padding: .5rem;
        font-size: 10px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    label.container {
        display: block;
        margin-bottom: 5px;
    }
    #temp-input, #wind-input {
        padding: 5px;
        border: 1px solid #f6f7f69c;
        border-radius: 4px;
    }
    #wind-chill {
        background-color: #d2d2d2;
        color: rgb(8, 7, 7);
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .wind.result {
        background-color: #c4c0c0;
        color: rgb(7, 7, 7);
        height: 30px;
        padding: 20px 20px 10px 20px;
        border: none;
        border-radius: 4px;
        /* margin: 0; */
    }
    input[type='reset'] {
        padding: 5px;
        border-radius: 6px;
    }
    #wind-chill:hover {
        background-color: #d8ded8;
    }
    div.final-section {
        margin: 0;
    }
    .final-section {
        background-color: #f7f5f5;
        border: #fff 2px solid;
        color: #010101;
        padding: 10px;
        border-radius: 8px;
    }
    .clear-button {
        background-color: #9f0f0f;
        color: rgb(246, 244, 244);
        height: 20px;
        padding: 10px;
        border: none;
        text-align: center;
        border-radius: 4px;
        margin: 0;
        cursor: pointer;
    }
    /* .result {
        font-weight: bold;
        margin-top: 10px;
    } */
    /* Header CSS rules */
    #page-head {
        grid-area: header;
        border-radius: 5px;
    
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "left right";
    }
    .header-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .bottom-header{
        grid-area: right;
        border-radius: 5px;
        margin: 5px;
        padding-top: 20px;
        background-color: #5d0f09;
    }
    .company-name {
        font-family: Comfortaa;
        font-weight: calc(700* var(--font-weight-multiplier, 2));
        font-size: 1.8rem;
        text-align: center;
        background-color: #5d0f09;
        color: var(--headline-color-on-color);
    }
    li a {
        color: var(--paragraph-color-on-white);
        text-decoration: none;
        font-size: 16px;
        padding: 0;
    }
    li {
        padding: 0;
        display: block;
        
        border-radius: 5px;
        width: 17px;
    }
    /* Hero image and overlay */
    .hero-image {
        position: relative;
    }
    
    .image-label {
        position: absolute;

        top: 10px;
        left: 10px;
        height: 5%;
        width: 8%;
        text-align: center;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        font-family: "sansi", Arial, Helvetica, sans-serif;
        font-size: large;
        border-radius: 5px;
    }
    /* nav section CSS rules */
    #nav-section {
        grid-area: nav;
        background-color: #ececf0;
        height: 205px;

        display: flex;
        gap: 5px;
    }
    #nav-section h2 {
        flex: .3;
        padding-top: 70px;
        text-align: center;
    }
    
    .nav-title {
        flex: 1;

        position: relative;
        width: 100px;
    }
    .nav-picture {
        object-fit: cover;
        border-radius: 5px;
        margin: 5px 5px 0 5px;
       
        width: 100%;
        height: 200px;
        display: block;
    }
    #nav-links {
        flex: 2;
        padding: 0;
        margin: 0;
    }
    .link-box {
        display: flex;
        margin: 0;
        gap: 15px;
        padding-top: 80px;
        text-align: center;
        justify-content: center;

    }
    
    /* footer CSS rules */
    #page-foot {
        grid-area: footer;
        height: 100px;

        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto ;
        grid-template-areas:
            "bottom-left top-right middle-right bottom-right";
        gap: 5px;
    }
    #copy-date {
        grid-area: bottom-left;
    }
    #author-name {
        grid-area: middle-right;
    }
    .course-name {
        grid-area: top-right;
    }
    #lastModified {
        grid-area: bottom-right;
    }
    .course-name, #lastModified, #author-name, #copy-date {
        /* Use a flexbox layout */
        display: flex;
        border-radius: 7px;
        
        /* Make a horizontal flexbox (the default) */
        flex-direction: row;
        
        /* The important part: vertically center the items */
        align-items: center;
        justify-content: center;
        background-color: #5d0f09;
        color: var(--headline-color-on-color);
    }
    #author-name {
        font-size: x-large;
    }
    img.full-bleed {
        max-width: 100%;
        height: auto;

        float: right;
        border-radius: 5px;
        margin: 5px 5px 0 5px;

        border: 1px solid;
        border-radius: 7px;
        box-shadow: 5px 5px 13px rgb(93, 94, 94);
    }
    /* Styling for Hamburger */
    #menu {
        display: none;
    }
    .navigation {
        display: flex;
        padding: 60px 10px;
        text-align: center;
    }
    .navigation li {
        display: block;
        flex: 1 1 11% ;
        border: 1px slategrey solid;
        background-color: rgb(247, 246, 245);
    }
    .navigation a:hover, .navigation a:active {
        color: red;
        
        width: 45px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }
    /* The switch - the box around the slider */
    .switch {
        position: fixed;
        top: 4rem;
        right: 1rem;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch-container {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 100px;
        width: 80px;
    }
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196F3;
        transition: 0.4s;
        border-radius: 34px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #000;
    }
    #modeText {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
        color: #000;
    }
    .dark-mode #black-body {
        background-color: #000;
        color: var(--headline-color-on-color);
    }
    .dark-mode #modeText {
        color: white;
    }
    .dark-mode #page-head {
        background-color: #dddde8;
    }
    .dark-mode .course-name, .dark-mode #lastModified, .dark-mode #author-name, .dark-mode #copy-date, .dark-mode .bottom-header, .dark-mode .company-name {
        background-color: #807c7c;
        color: #000;
    }
    .dark-mode #nav-section {
        background-color: #000;
        color: #fff;
    }
    .dark-mode #nav-section li {
        background-color: #000;
        color: #fff;
    }
    .dark-mode #nav-section li a {
        color: #fff;
    }
    .dark-mode .final-section {
        background-color: #000;
        border: #fff 2px solid;
        color: #fff;
    }
}