@media only screen and (min-width: 601px) and (max-width: 1024px) {
    @font-face {
        font-family: "sensation-light";
        src: url(../styles/fonts/sensation-lite/Sansation-Lite/Sansation-lite.woff2),
        url(../styles/fonts/sensation-lite/Sansation-Lite/Sansation-lite.woff);
    }
    @font-face {
        font-family: "besans";
        src: url(../styles/fonts/besans/Besans/Besans.woff2),
        url(../styles/fonts/besans/Besans/Besans.woff);
    }
    @font-face {
        font-family: "sansi";
        src: url(../styles/fonts/sansi/SANSI/SANSI.woff2),
        url(../styles/fonts/sansi/SANSI/SANSI.woff);
    }
    @font-face {
        font-family: "comfortaa";
        src: url(../styles/fonts/comfortaa/Comfortaa/Comfortaa.woff2),
        url(../styles/fonts/comfortaa/Comfortaa/Comfortaa.woff);
    }
    :root {
        /* Color Palette */
        --primary-color: #fdffff; /*off-white*/
        --secondary-color: #080707; /* black*/
        --tertiary-color: #494d5c; /* charcoal-gray*/
        --accent1-color: #a13030; /* brick-red*/
        --accent2-color: #cf1244; /* ox-blood*/
        --accent3-color: #f71606; /* light-red*/
        --accent4-color: #8f8f9c; /*silver-gray*/

    
        /* Chosen fonts */
        --heading-font: "sansi", Arial, sans-serif;
        --paragraph-font: "sensation-light", Helvetica, sans-serif;
        --other-font: "besans", Arial, sans-serif;
        --yet-another-font: "comfortaa", Arial, sans-serif;

        /* font weight category*/
        --font-weight-multiplier: .85;
    
        /* Chosen from palette colors */
        --headline-color-on-white: #c2c2c3;  /* headlines on a white background */ 
        --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
        --paragraph-color-on-white: #27272b; /* paragraph text on a white background */ 
        --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
        --paragraph-background-color: #79797c;
        --nav-color: #fdffff;
        --nav-box-color: #494d5c;       
        --nav-background-color: #494d5c;
        --hover-color: #fdffff;
        --hover-background-color: #8f8f9c;
    }
    #white-background { 
        font-size: 14px;
        background-color: #807c7c;
        max-width: 1024px;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 15% 1fr 15%;
    }
    #black-body {
        font-family: sans-serif;
        background-color: var(--headline-color-on-color);
        color: var(--secondary-color);
        /* margin: 0; */
        border-radius: 5px;
        margin: 5px 5px 0 5px;

        grid-column: 2;
        
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 25% 1fr 20% 20%;
        grid-template-areas:
            "header header header header"
            "side main main main"
            "side main main main"
            "side main main main"
            "footer footer footer footer";
        min-height: 100%;
        gap: 5px;
    }
    #page-head {
        grid-area: header;
        border-radius: 5px;
    
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "left right";
        column-gap: 5px;
    }
    .top-header {
        grid-area: left;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .header-image {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 5px 5px 0 5px;
    }
    .bottom-header{
        grid-area: right;
        border-radius: 5px;
        margin: 5px;
        padding: 20px 0 0 15px;
        background-color: #5d0f09;
    }
    .company-name {
        font-family: sansi;
        font-weight: calc(400* var(--font-weight-multiplier, 1));
        text-align: center;
        color: var(--headline-color-on-color);
    }
    #nav-section {
        grid-area: side;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 30px 150px 200px;
        grid-template-areas:
            "top-nav"
            "mid-nav"
            "base-nav" ;
        gap: 8px;
    }
    #nav-section h2 {
        grid-area: top-nav;
        text-align: center;
        color: #fff;
        font-size: medium;
    }
    .nav-title {
        grid-area: mid-nav;
        color: #fff;
    }
    .nav-picture {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 5px 5px 0 5px;
    }
    #nav-links {
        grid-area: base-nav;
    }
    li a {
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 16px;
        padding: 0;
    }
    .navigation {
        padding: 0;
        text-align: center;
        justify-items: center;
    }
    li {
        list-style-type: none;
        margin: 16px;
        padding: 0;
        border: 1px slategrey solid;
        border-radius: 5px;
        background-color: #bd3c3c;
    }
    #pseudo-main {
        grid-area: main;
        font-size: large;
        padding: .6rem;

    }
    #page-foot {
        grid-area: footer;
        margin: 12px;
        color: var(--headline-color-on-color);

        display: grid;
        grid-template-columns: 25% auto;
        grid-template-rows: 25% auto 25%;
        grid-template-areas:
            "bottom-left top-right"
            "bottom-left middle-right"
            "bottom-left bottom-right";
        gap: 5px;
    }
    #copy-date {
        grid-area: bottom-left;
        background-color: #5d0f09;
        height: 100px;

        border-radius: 7px;
    }
    #author-name {
        grid-area: middle-right;
        background-color: #5d0f09;
    }
    .course-name {
        grid-area: top-right;
        background-color: #5d0f09;
    }
    #lastModified {
        grid-area: bottom-right;
        background-color: #5d0f09;
    }
    .course-name, #lastModified, #author-name, #copy-date {
        /* Use a flexbox layout */
	display: flex;
    border-radius: 7px;
	
	/* Make a horizontal flexbox (the default) */
	flex-direction: row;
	
	/* The important part: vertically center the items */
	align-items: center;
    justify-content: center;
    }
    #author-name {
        font-size: x-large;
    }
    .full-bleed {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin: 5px 5px 0 5px;
    }
    /* Hamburger Rules */
    #menu {
        display: flex;
        flex-direction: column;
    }
    .navigation a:hover, .navigation a:active {
        color: #f5f1f1;
        width: 45px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
    }
   /* The switch - the box around the slider */
   .switch {
    position: fixed;
    top: 4rem;
    right: 1rem;
    display: inline-block;
    width: 60px;
    height: 34px;
    }
    .switch-container {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        height: 100px;
        width: 80px;
    }
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196F3;
        transition: 0.4s;
        border-radius: 34px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
        background-color: #000;
    }
    #modeText {
        display: block;
        margin-top: 10px;
        margin-left: 30px;
        color: #000;
    }
    .dark-mode #black-body {
        background-color: #000;
        color: var(--headline-color-on-color);
    }
    .dark-mode #modeText {
        color: white;
    }
    .dark-mode #page-head {
        background-color: #dddde8;
    }
    .dark-mode .course-name, .dark-mode #lastModified, .dark-mode #author-name, .dark-mode #copy-date, .dark-mode .bottom-header, .dark-mode .company-name {
        background-color: #807c7c;
        color: #000;
    }
    .dark-mode #nav-section {
        background-color: #000;
        color: #fff;
    }
    .dark-mode #nav-section li {
        background-color: #000;
        color: #fff;
    }
    .dark-mode #nav-section li a {
        color: #fff;
    }
}