@media screen and (max-width: 767.98px) {
  @font-face {
    font-family: 'confortaa';
    font-weight: 600;
    src: url(/styles/fonts/comforter-regular-webfont.woff2) format('woff2'),
    url(/styles/fonts/comforter-regular-webfont.woff) format('woff')
  }
  @font-face {
    font-family: 'montserrat';
    font-weight: 600;
    src: url(/styles/fonts/montserrat-variablefont_wght-webfont.woff2) format('woff2'),
    url(/styles/fonts/montserrat-variablefont_wght-webfont.woff) format('woff')
  }
  @font-face {
    font-family: 'salsa';
    font-weight: 800;
    src: url(/styles/fonts/salsa-regular-webfont.woff) format('woff')
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .container {
    font-family: montserrat, sans-serif;
    color: black;
  }
  .sub-container1 {
    background: rgb(38, 7, 118);
    font-family: sans-serif;
    font-size: large;
  }
  .image1 {
    max-width: 180px;
  }
  .image1-name {
    color: white;
  }
  .sub-container2 {
    display: flex;
    flex-direction: row;
    font-family: salsa, sans-serif;
    font-size: larger;
    background-color: black;
    height: 60vh;
  }
  #remove {
    list-style-type: none;
  }
  li > a {
    color: white;
  }
  .line {
    width: 97%;
    height: 0.5px; 
    background-color: #130f0f;
    margin-top: -20px;
  }
}