@media screen and (max-width: 767.98px) {
  @font-face {
    font-family: 'confortaa';
    font-weight: 600;
    src: url(/styles/fonts/comforter-regular-webfont.woff2) format('woff2'),
    url(/styles/fonts/comforter-regular-webfont.woff) format('woff')
  }
  @font-face {
    font-family: 'montserrat';
    font-weight: 600;
    src: url(/styles/fonts/montserrat-variablefont_wght-webfont.woff2) format('woff2'),
    url(/styles/fonts/montserrat-variablefont_wght-webfont.woff) format('woff')
  }
  @font-face {
    font-family: 'salsa';
    font-weight: 800;
    src: url(/styles/fonts/salsa-regular-webfont.woff) format('woff')
  }
  @font-face {
    font-family: 'dosis';
    font-weight: 800;
    src: url(/chamber/styles/fonts/Dosis.woff2) format('woff2'),
    url(/chamber/styles/fonts/Dosis.woff) format('woff')
  }
  @font-face {
    font-family: 'great vibes';
    font-weight: 800;
    src: url(/styles/fonts/GreatVibes-Regular.woff2) format('woff2')
}
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: column;
    background-color: rgba(129, 132, 130, 0.641);
  }
  .sub-container1 {
    text-align: center;
  }
  .sub-container3 {
    text-align: center;
  }
  /* nav ul li {
      flex: 1 1 100%;
  }  */
  #remove {
    list-style-type: none;
  }
  li > a {
    color: rgb(6, 5, 5);
    font-size: large;
  }
  .image1 {
    max-width: 180px;
    margin: 0 auto;
  }
  .image1-name {
    color: rgb(9, 8, 8);
  }
  .sub-container4 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 90);
  }
  .card {
    width: 100%;
    margin: 0 auto;
  }
  .weeks {
    background-color: rgba(129, 132, 130, 0.641);
    height: 100%;
    text-align: center;
  }
  .weeks  a {
    color: #050505;
  }
  .weeks li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .weeks li::before {
    content: "\003a"; 
    font-size: 20px; 
    margin-right: 5px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    list-style: none;
  }
  #lastModified {
    color: white;
    font-weight: bolder;
    display: inline-block;
    width: 400px;
  }
  .copyright-logo, .page-author, .flag {
    color: white;
    display: block;
    font-family: dosis;
    text-align: center;
    width: 400px;
  }
  .paragraph1 {
    display: block;
    width: 400px;
  }
  .page-author::after {
    content: url("../images/flower.jpeg");
    display: inline;
    margin-left: 20px;
  }
  .page-author::before {
    content: url("../images/flower.jpeg");
    display: inline;
    margin-right: 20px;
  }
  .flag::after {
    content: url("../images/naija.png");
    display: inline;
    margin-left: 20px;
  }
  li a span {
    font-size: 100px;
  }
  #menu::before {
    content: "✅";
  }
  #menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
  }
  nav {
    background: rgb(45, 93, 190);
  }
  .sub-container2 {
    list-style: none;
    margin: 0 auto;
    width: 760px;
    text-align: center;
  } 
  .sub-container2 li {
    display: none;
  }
  .sub-container2 a {
    display: block;
    padding: .75rem;
    text-align: center;
    text-decoration: none;
    color: rgb(245, 243, 243);
    font-weight: 700;
    transition: .5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
  }
  .sub-container2 a:hover, .sub-container2 a:active {
    color: rgb(71, 5, 5);
    background-color: #f8f5f5;
  }
  .show li {
    display: block;
    }
  #menu.show::before {
    content: "❎";
  }
}