@media screen and (min-width: 768px) {
    @font-face {
        font-family: 'confortaa';
        font-weight: 600;
        src: url(..//styles/fonts/comforter-regular-webfont.woff2) format('woff2'),
            url(..//styles/fonts/comforter-regular-webfont.woff) format('woff')
    }
    @font-face {
        font-family: 'montserrat';
        font-weight: 600;
        src: url(..//styles/fonts/montserrat-variablefont_wght-webfont.woff2) format('woff2'),
        url(..//styles/fonts/montserrat-variablefont_wght-webfont.woff) format('woff')
    }
    @font-face {
        font-family: 'salsa';
        font-weight: 800;
        src: url(..//styles/fonts/salsa-regular-webfont.woff) format('woff')
    }
    @font-face {
        font-family: 'great vibes';
        font-weight: 800;
        src: url(..//styles/fonts/GreatVibes-Regular.woff2) format('woff2')
    }
    @font-face {
        font-family: 'open sans';
        font-weight: 800;
        src: url(..//styles/fonts/OpenSans-Italic-Variable.ttf) format('ttf')
    }
    @font-face {
      font-family: 'satisfy';
      font-weight: 800;
      src: url(../styles/fonts/Satisfy-Regular.ttf) format('tff')
    }
    @font-face {
      font-family: 'work sans';
      font-weight: 800;
      src: url(../styles/fonts/WorkSans-VariableFont.ttf) format('tff')
    }
    :root {
        background-color: #fff;
       
        /* Color Palette */
        --primary-color: #ffffff;
        --secondary-color: #c2c2c3;
        --accent1-color: #79797c;
        --accent2-color: #27272b;
        --root-color: #99999c;

    
        /* Chosen fonts */
        --heading-font: "Bad Script", Arial, sans-serif;
        --paragraph-font: 'comfortaa', Helvetica, sans-serif;
        --other-font: Barlow, Arial, sans-serif;
        --woff2-font-salsa: 'salsa', Arial, sans-serif;
        --woff2-font-great-vibes: 'great vibes', Helvetica, sans-serif;
    
        /* Chosen from palette colors */
        --headline-color-on-white: #c2c2c3;  /* headlines on a white background */ 
        --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
        --paragraph-color-on-white: #27272b; /* paragraph text on a white background */ 
        --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
        --paragraph-background-color: #929295;
        --nav-link-color: #c2c2c3;
        --nav-background-color: #27272b;
        --nav-hover-link-color: #27272b;
        --nav-hover-background-color: #c2c2c3;
        --root-background-color: #99999c;

        
    }

    * { 
        font-size: 16px;
    }
    /* Body rules */
    body {
        width: 960px;
        height: auto;
        margin: 0 auto;
        background-color: #b8b4b6;
        /* background-color: var(--paragraph-background-color); */

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 220px 270px 1250px 220px;
        grid-template-areas: 
            "laman"
            "lemuel"
            "sam"
            "nephi";
        box-sizing: border-box;
    }
    /* Header Rules */
    header.container {
        grid-area: laman;
        height: 250px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        background-color: #cfcfd3;
        box-sizing: border-box;
    }
    .header.image picture img{
        border: 3px solid gray;
        padding: 0;
        border-radius: 8px;
    }
    .header.name {
        font-family: var(--woff2-font-salsa);
        font-size: xx-large;
        font-weight: 1000;
        color: #040303;
    }
    /* Hamburger Rules */
    #menu {
        display: none;
    }
    /* Navigation Section Rules */
    #navigation {
        grid-area: lemuel;
        height: 250px;
    }
    .topnav {
        box-sizing: border-box;
        background-color: #b4b4b8;
        list-style: none;
        padding: 20px;
    }
    .topnav li a {
        font-family: var(--woff2-font-salsa), Arial, Helvetica, sans-serif;
        font-size: x-large;
        text-decoration: none;
        color: #040303;
    }
    /* Main Section Rules */
    .mid.container {
        grid-area: sam;
        width: auto;
        height: 500px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
            "hero hero hero"
            "title title title"
            "link link link"
            "frame frame frame"
            "foot foot foot";
    }
    .hero.image {
        grid-area: hero;
        width: 100%;
        height: 100%;

        position: relative;
    }
    .hero picture img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .hero.label {
        position: absolute;
        margin-top: 30px;
        margin-left: 30px;
        background: #2d3e78;
        font-weight: 600;
        border: 1px solid rgba(0,0,0,.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        font-family: var(--woff2-font-great-vibes), Arial, Helvetica, sans-serif;
        border-radius: 5px;
    }
    .hero.label + h2 {
        grid-area: title;
        width: 100%;
        height: 30px;
        background-color: #9d9da3;
        text-align: center;
        font-size: larger;
        padding: 5px;
        margin: 0;

        box-sizing: border-box;
    }
    .line {
        grid-area: title;
        width: 38%;
        height: 1px;
        background-color: #0d0d0d;
        margin-top: 25px;
        margin-left: 31%;

    }
    .beta {
        grid-area: link;
        background-color: #acacc4;
        height: 200px;

        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 40px 80px 80px;
        grid-template-areas:
            ". sub ."
            ". weather ."
            ". visit .";

        font-family: var(--woff2-font-salsa), Arial, Helvetica, sans-serif;
        border: #0a0a0a 2px solid;

        text-align: center;
        color: #fff;
        padding-top: 10px;
    }

    .sub-card2 {
        grid-area: sub;
        background-color: #181845;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: #5261ac 2px solid;
        border-left: #5261ac 2px solid;
        border-right: #5261ac 2px solid;
        margin: 0;
        font-size: x-large;
    }
    .weather {
        grid-area: weather;
        background-color: #4c4c9c;

        border-left: #5261ac 2px solid;
        border-right: #5261ac 2px solid;
        padding-top: 15px;
    }
    .visits {
        grid-area: visit;
        background-color: #4c4c9c;
        padding-top: 35px;
        
        border-bottom: #5261ac 2px solid;
        border-left: #5261ac 2px solid;
        border-right: #5261ac 2px solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        margin-bottom: 10px;
    }
    iframe {
        grid-area: frame;
        width: 100%;
        height: 350px;
        background-color: aqua;
    }
    .bottom.container {
        grid-area: nephi;
        width: 100%;
        height: auto;
        background-color: #b0a4aa;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        gap: 5px;
    }
    nav ul a {
        flex: 1 1 100%;
        font-family: 'salsa';
        text-decoration: none;
        font-size: larger;
        color: #000;
    }
    /* Footer Rules */
    .bottom li:hover {
        background-color: #a3a3a9;
        width: 60%;
    }
    .bottom span:hover, #lastModified:hover {
        cursor: pointer;
        background-color: #7b7878;
        color: #fff;
        padding-bottom: 5px;
        border-radius: 5px;
    }
    .bottom li a:hover {
        color: #f1f1f3;
    }
    .bottom.container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        align-items: center;
        font-size: large;
    }
    #lastModified {
        font-weight: bolder;
        display: inline-block;
    }
    #lastModified, .copyright-logo, .page-author, .flag {
        color: rgb(5, 5, 5);
        width: auto;
    }
    .copyright-logo, .page-author, .flag {
        display: block;
        text-align: center;
    }
    .paragraph1 {
        display: block;
        width: 400px;
    }
    .page-author::after {
        content: url("../images/flower.jpeg");
        display: inline;
        margin-left: 20px;
    }
    .page-author::before {
        content: url("../images/flower.jpeg");
        display: inline;
        margin-right: 20px;
    }
    .flag::after {
        content: url("../images/naija.png");
        display: inline;
        margin-left: 20px;
    }
    /* -----------Index Page---------- */
    .indx1 {
        height: 80vh;
        margin: 50px auto;
        background-color: #000;
        color: white;
        border-radius: 10px;

        position: relative;
    }
    .indx2 {
        position: absolute;
        top: 6rem;
        left: 7rem;
        font-size: x-large;
    }

    .indx3 {
        position: absolute;
        color: white;
        top: 15rem;
        left: 9rem;
        
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #52acac;
        margin: 20px;
        padding: 10px;
    }
    .indx3 a {
        display: block;
        color: white;
        font-size: xx-large;
        text-decoration: none;
        padding: 20px;
       
        background-color: #263535;
    }
}